{% extends 'base.html.twig' %}

{% block title %}Détail d'une salle de classe{% endblock %}

{% block body %}
    <div>
        <h1>Salle {{ room.number }}</h1>
        <hr>
        {% if room.courses|length > 0 %}
            <ul>
                {% for course in room.courses %}
                    <li>
                        <b>{{ course.date|date('d/m/Y', "Europe/Paris")}} ({{ course.date|date('H:i', "Europe/Paris")}}) : {{ course.title }} (Code de l'UE : {{ course.code }}): </b>
                        <p>{{ course.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Il n'y a pas de cours</p>
        {% endif %}
        <hr>
        {{ form(course_form) }}
    </div>
{% endblock %}
